body {
  font-family: "Merriweather";
  position: relative;
  margin: 0;
  padding: 0;
}
/*=======Main=======*/
.wrap {
  width: 60%;
  margin: 0 auto;
  margin-top: 75px;
}
.box {
  border: 2px solid;
  width: 600px;
  margin: auto;
}
.text {
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
}
.main-title {
  font-size: 28px;
  margin: 0 auto;
}
.box-text {
  font-size: 15px;
  margin: 0 auto;
}
.form {
  text-align: center;
  margin: auto;
  display: inline-flex;
}
.form td {
  padding: 12px;
}
.form-message {
  vertical-align: text-top;
}
.send-button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}
