body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui;

}
/*nav*/
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
}

li a {
  display: block;
  font-size: 17px;
  line-height: 40px;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e5e5e5;
}

.top-right-nav {
  float: right;
}

/* Footer */
footer {
  font-size: 17px;
  bottom: 0;
  width: 100%;
  text-align: center;
}
