body {
    font-family: 'Merriweather';
    color: #f8eeec;
    background-color: #1e1e2c;
    position: relative;
    margin: 0;
    padding: 0;
}



header {
    background-color: #1e1e2c;
    box-sizing: border-box;
    vertical-align: middle;
}

.logo {
    height: 75px;
    display: inline-block;
    vertical-align: middle;

}

h1 {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font: bold;
}

nav {
    text-align: center;
    left: 0;
    right: 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2d44;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


.wrap {
    width: 90%;
    margin: 0 auto;
}


footer {
    text-align: center;
    position: absolute;
    height: 70px;
    margin-top: 15px;
    background-color: #2d2d44;
    color: #f2ebe9;
    left: 0;
    right: 0;
}
