body {
    font-family: 'Merriweather';
    background-color: #121f26;
    position: relative;
    margin: 0;
    padding: 0;
}

header {
    background-color: #121f26;
    box-sizing: border-box;
    vertical-align: middle;
}

.logo {
    height: 75px;
    display: inline-block;
    vertical-align: middle;

}

h1 {
    text-align: center;
    color:#b6c3cc;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font: bold;
}

nav {
    text-align: center;
    left: 0;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2a33;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b6c3cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


.wrap {
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    margin-top: 75px;
}

.box{
    border: 1px solid; 
    color: white;    
}

.text{
    padding: 15px 15px;
    color:#b6c3cc;
}


footer {
    text-align: center;
    position: absolute;
    height: 70px;
    margin-top: 15px;
    background-color: #1b2a33;
    color: #b6c3cc;
    left: 0;
    right: 0;
}
